<!DOCTYPE html>

<html lang="en">

<head>
    <title>Whack-a-mole</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>Whack-a-mole</h1>
    <div class="grid-container">
        <div class="square" onclick="goColor(this)"></div>
        <div class="square" onclick="whenClicked(this)"></div>
        <div class="square" onclick="whenClicked(this)"></div>

        <div class="square" onclick="whenClicked(this)"></div>
        <div class="square" onclick="whenClicked(this)"></div>
        <div class="square" onclick="whenClicked(this)"></div>

        <div class="square" onclick="whenClicked(this)"></div>
        <div class="square" onclick="whenClicked(this)"></div>
        <div class="square" onclick="whenClicked(this)"></div>
    </div>
    <script>
        // TODO: dynamically create ducks after page load

        function whenClicked(div) {
            if (div.style.filter == 'none') {
                goColor(div);
            }
            else {
                goGrey(div);
            }
        }

        function goColor(duck) {
            duck.style.filter = 'none';
        }

        function goGrey(duck) {
            duck.style.filter = 'grayscale(100%)';
        }
        // every 3 seconds, if all are grey, randomly select one and remove it from grey scale
        // if the colored image is clicked, remove it from grey scale
    </script>
</body>
</html>